/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family:  'Noto Sans', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media(max-width: 1280px) {
    html {
        font-size: 0.8em;
    }
}

@media(max-width: 1024px) {
    html {
        font-size: 0.7em;
    }
}

@media(max-width: 800px) {
    html {
        font-size: 0.6em;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 0.5em;
    }
}

.pagina {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #141414;
    color: #eee;


    display: flex;
    justify-content: center;
    /*flex-flow: row;*/
    /*align-items: flex-start;*/
}

.main-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 1rem;
    /*justify-content: center;*/
    /*padding: 0 1rem;*/
}

.main-form__textarea {
    resize: none;
    padding: 0.5rem;
    /*margin-bottom: 0.5rem;*/

    font-size: 2rem;
    /*background-color: #eee;*/
    color: #151515;

    /*border: none;*/
    border-radius: 4px;
    box-sizing: border-box;

    outline: none;
}

.main-form__label {
    padding:0.5rem 0;
    margin-top: 0.7rem;
    font-size: 1.8rem;
}

.main-form__contador-de-caracteres {
    align-self: flex-end;

    font-size: 1.7rem;
    margin: 0.5rem 0;
}


::-webkit-input-placeholder { color:#ccc; }
::-moz-placeholder {          color:#ccc; } /* firefox 19+ */
:-ms-input-placeholder {      color:#ccc; } /* ie */
input:-moz-placeholder {      color:#ccc; }



.main-form__button {
    border: none;
    padding: 0.8rem;

    font-size: 2rem;
    font-weight: 700;
    background-color: #00dfff;
    color: #000;

    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-form__button:hover, .main-form__button:active {
    background-color: #00c8e5;
}



/* MENSAGEM DE CONFIRMAÇÃO */

.confirmacao {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s;
}

.confirmacao__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: rgba(0,0,0,0.8);
}

.confirmacao__mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

    width: 16em;
    height: 6em;

    border-radius: 8px;
    background-color: #eee;
    box-shadow: 0.3rem 0.3rem 0.4em #000;

    color: #121212;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6em;
}

.confirmacao__p {
    margin: 1em;
}



/* fullscreen overlay */

.enter-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.enter-fullscreen__button {
    font-size: 2em;
    font-weight: 700;
    color: #000;

    padding: 2rem 3rem;
    background-color: coral;

    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.5s;
}

.visible {
    opacity: 1;
    visibility: visible;
}


